<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GmailURL" value="https://gmail.com"/>
    <add key="ValidLogin" value="test.task.zel@gmail.com"/>
    <add key="ValidPassword" value="Test1234Test"/>
    <add key="InvalidLogin" value="test.task.zel@invalid.com"/>
    <add key="InvalidPassword" value="TestTest"/>
    <add key="TextSample" value="Text Sample"/>
  </appSettings>
</configuration>